@import url(../assets/font/icofont/icofont.min.css);
@import url(./variables.css);
@import url(./responsive.css);
@import url(./base/table.css);
@import url(./layout/page.css);
@import url(./base/checkbox.css);
@import url(./base/paging.css);
@import url(./base/form.css);
body{
    margin: 0;
    font-size: 13px;
    font-family: Manh Fonts;
}

*{
    font-family: Manh Fonts;
}

@font-face {
    font-family: Manh Fonts;
    src: url(../assets/font/GoogleSans-Regular.otf);
   
}

.text-align--left{
    text-align: left;
}
.text-align--center{
    text-align: center;
}

.text-align--right{
    text-align: right;
}

.text--red,.required{
    color: #ff0000;
}

#selectionInfo{
    visibility: hidden;
}

.border-red{
    border: 1px solid red;
}

*, :before, :after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #0000004d;
}