.m-dialog{
    position: fixed;
    background-color: #00000085;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.m-dialog-container{
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.m-dialog__button--close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/icon/close-48.png);
    background-size: contain;
    border: unset;
    background-color: unset;
    cursor: pointer;
}

.m-dialog__header{
    padding: 22px 24px 0px 24px;
    font-size: 20px;
    font-weight: 700;
}

.m-dialog__body{
    flex: 1;
    padding: 22px 24px 0px 24px;
}

.m-dialog__footer{
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}

.m-dialog__footer button{
    height: 26;
}

.m-dialog__footer button:hover,.m-dialog__footer button:focus{
    
}

.m-dialog__button--cancel{
    background-color: #ff0000;
    color: #fff;
}

.m-dialog__body--notice{
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.m-dialog__icon{
    width: 30px;
    height: 30px;
    background-size: contain;
}

.m-dialog__text{

}